header {
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: center;
  min-height: 65px;
  width: 100vw;
  z-index: 999;
  will-change: transform, height, background-color;
  
}
/* Ensure text elements inherit or use larger font */
header h1, header h2, header span, header a {
  font-size: inherit; /* Inherit from header's font-size */
}

@supports (animation-range: 0vh 90vh) {
  header {
    position: fixed;
    top: 0;
    animation: sticky-parallax-header-move-and-size linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 90vh;
  }
}

@keyframes sticky-parallax-header-move-and-size {
  0% {
    height: 100svh;
    background-position: 50% 0;
    font-size: 2.5rem;
  }

  100% {
    height: 10svh;
    background-color: var(--gold-bckgr);
    background-position: 50% 100%;
    font-size: 3.875rem;
  }
}